# Primary Web & UI
streamlit==1.52.1

# Data & ML
pandas
numpy
scikit-learn
imbalanced-learn
scipy

# Visualization & PDF
plotly==6.5.0
kaleido==0.1.0post1
matplotlib
altair
fpdf
reportlab

# Utilities
requests
python-dateutil